@import "tailwindcss";

@theme {
    --font-sans: 'Urbanist', sans-serif;
}

body {
    @apply bg-white text-gray-900 text-sm antialiased;
}

.btn {
    @apply cursor-pointer bg-linear-to-r from-blue-600 to-indigo-500;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}
